@page
@model RPGfaktPRG.Pages.PlaceModel
@{
    ViewData["Title"] = "Place";
}

<h1>@Model.Location.Title</h1>
<div>@Model.Location.Description</div>
<div class="m-1">
    @foreach (var target in Model.Targets)
    {
        if (Model.State.Health <= 0)
        {
            target.To = RPGfaktPRG.Model.Room.GameOver;
        }
        <a class="btn btn-secondary" asp-page="Place" asp-route-id="@target.To">@target.Description</a>
        if (Model.Location.Title == "Fence")
        {
            <a class="btn btn-secondary" asp-page="Place" onclick="" asp-route-id="@target.To">@target.Description</a>
            for (int i = 0; i < 100; i++)
            {
                int randomValueBetween0And99 = Model.RandomGen.Next(100);
                if (randomValueBetween0And99 < Model.clickPercentage)
                {
                    target.To = RPGfaktPRG.Model.Room.BehindFenceSuccess;
                }

                else
                {
                    target.To = RPGfaktPRG.Model.Room.BehindFenceFailure;
                }
            }
        }

    }

    <a style="color:red">HP: @Model.State.Health</a>
</div>
